:root{
    --background-color: #ffffff;
    --btn-color: #0987f2;
    --btn-text-color: #fff;
    --project-card-bg: #ffffff00;
    --text-color: #222;
    --h2-color: #222;
    --form-text-color: #555;
    --foter-text-color: #888;
    --accent: #5b3d25;
    --bg-dark: #ff8d2f;
    --text-light: #000000;
    --text-muted: #000000;
    --badge-bg: #bf5601;
}

[data-theme = 'dark'] {
    --background-color: #222;
    --btn-color: #fff;
    --btn-text-color: #222;
    --project-card-bg: #fff;
    --text-color: #fff;
    --h2-color: #ff8d2f;
    --form-text-color: #fff;
    --foter-text-color: #bbb;
    --accent: #5E21F1;
    --bg-dark: #1E1E2A;
    --text-light: #E5E7EB;
    --text-muted: #A1A1AA;
    --badge-bg: #4338CA;    
}

html, body {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background-color);
}
#root {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 60px;
}

h1,h2,h3,p {
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h2,h3,p{
    font-family: 'Roboto Mono', monospace;
}

h1,h2 {
    text-transform: uppercase;
}

h2,h3 {
    font-size: 30px;
}

h1{
    font-family: 'Rubik' , sans-serif;
    font-size: 48px;
}
p{
    font-size: 18px;
    font-weight: 300;
}
.sectionTitle{
    margin-bottom: 30px;
}
.hover {
    cursor: pointer;
}
